.myVideo {
    position: relative;
    border: 0.1rem solid #56a5eb;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn_layout {
    gap: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #9c9c9c;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(43, 43, 43);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}